/*p*/
/*{*/
  /*  font-size: 40px;*/
/*}*/

/** style */
body { margin: 50px; padding: 50px; text-align: center; }

.colored
{
    background:green;
}

.flipper 
{ width: 300px; height: 100px; color: #444; margin: 0 auto; float: left;
    
}

.flip-back { background: blue; color: #666; width: 300px; height: 100px; opacity:0;}

/** layout & transform */
.flipper 
{
    position: relative;
    -webkit-perspective: 700;
    -moz-perspective:700;
    -o-perspective:700;
    -ms-perspective:700;
    overflow: visible;
}

.flip-front {
    -webkit-transform-style: preserve- 3 d;
    -moz-transform-style: preserve- 3 d;
    -o-transform-style: preserve- 3 d;
    -ms-transform-style: preserve- 3 d;
  
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
  
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    z-index: 900;
}
.flip-back {
    position: absolute; top: 0; left: 0;
    z-index: 800;
    
    -webkit-transform: rotatey(-180deg);
    -webkit-transform-style: preserve- 3 d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all ease-in-out 0.4s;
  
    -ms-transform: rotatey(-180deg);
    -ms-transform-style: preserve- 3 d;
    -ms-backface-visibility: hidden;
    -ms-transition: all ease-in-out 0.4s;
  
    -moz-transform: rotatey(-180deg);
    -moz-transform-style: preserve- 3 d;
    -moz-backface-visibility: hidden;
    -moz-transition: all ease-in-out 0.4s;
  
    -o-transform: rotatey(-180deg);
    -o-transform-style: preserve- 3 d;
    -o-backface-visibility: hidden;
    -o-transition: all ease-in-out 0.4s;
    opacity: 0;
}
.flipper:hover .flip-front {
    z-index: 900;
    -webkit-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    opacity: 0;
}
.flipper:hover .flip-back {
    z-index: 1000;
    -webkit-transform: rotatey(0deg);
    -moz-transform: rotatey(0deg);
    -o-transform: rotatey(0deg);
    -ms-transform: rotatey(0deg);
    opacity: 1;
}

.mytry
{
    z-index: 1000;
    -webkit-transform: rotatey(0deg);
    -moz-transform: rotatey(0deg);
    -o-transform: rotatey(0deg);
    -ms-transform: rotatey(0deg);
    opacity: 0;
}

