# extends 'base.html'

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
    lets see how this looks
      <!--<script src="{{ url_for('static', filename='cards.js')}}"></script>
      <script src="{{ url_for('static', filename='script.js')}}"></script>
      -->
      <!--<script src="{{ url_for('static', filename='jquery-1.11.0.min.js')}}"></script>
      <script src="{{ url_for('static', filename='jquery-1.11.0.js')}} "></script>
      
      <link rel="stylesheet" type="text/css"/>
        <style type="text/css"></style>
        <script></script>
        <script type='text/javascript'></script>
        <script type='text/javascript'></script>
      
    </head>
    <body >-->
        <p>This Demonstrates the look that we intend to use for this card game</p>
        <div id="bodi"></div>
        <img src="/p/img/chaos.jpg"/>
        <audio>
            <source src="/p/sounds/battle018.mp3" id="mp3Source" type="audio/mp3" />
            <source src="/p/sounds/battle018.mp3" id="mp3Source" type="audio/mpeg" />
            Your browser does not support the audio element.
        </audio>
    </div>
  </div>
# endblock