<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title> Card Game </title>
      <link href="{{ url_for('static', filename='cards.css')}}"/>
      <script src="{{ url_for('static', filename='play.js')}}"></script>
      <script src="{{ url_for('static', filename='jquery-1.11.0.min.js')}}"></script>
      <script src="{{ url_for('static', filename='jquery-1.11.0.js')}} "></script>
      <link rel="stylesheet" type="text/css"/>
        <style type="text/css"></style>
        <script></script>
        <script type='text/javascript'></script>
        <script type='text/javascript'></script>
      
    </head>
    <body id='docu'>
      <p style="margin-left:35%">This Demonstrates Two Player Gaming</p>
        <div id="bodi"></div>
  
    </body>
</html>