<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title> Card Game Choose Game Type</title>
      <link href="/p/start.css"/>
      # block head
    
      # for script in config.MYSCRIPTS
        <script src="/p/{{script.replace('.coffee', '.js').replace('src/script/', 'dst/script/')}}?{{config.CURRENT_VERSION_ID}}"></script>
      # endfor
      
      # endblock
    </head>

# block content
        <p></p>
        <div id="bodi"></div>
      <a href="/cards"> 
            <button id="player1" class='button'><h1>ONE PLAYER</h1></button> 
        </a>
      <a href="/play">
              <button id="player2" class='button'><h1>TWO PLAYERS</h1></button>
      </a>
# endblock
    